#block-body {
    width: 1000px;
    margin: 5px auto;
    height: 80px;
    background-color: black;
}
.block-menu li {
    float: left;
    list-style: none;
    text-align: center;
}
.block-menu ul a {
    display: block;
    width: 180px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 17px;
    color: white;
    height: 55px;
    padding-top: 25px;
}
.block-menu a:hover {
    -webkit-transition: all 0.5s ease;
    background: #00b6f6;
}