@model WebApplicationBooks.Models.SignUpUser

<link rel="stylesheet" href="~/lib/boostrap/css/bootstrap.min.css" />
<script src="~/lib/boostrap/js/bootstrap.bundle.min.js"></script>

<div class="container p-5 col-7">
    <form asp-controller="Account" asp-action="Registration" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <h1 class="text-primary">Регестрация</h1>

        <div class="col">
            <input type="text" asp-for="Username" class="form-control" />
            <label class="form-label" asp-for="Username">Username</label>
            <span asp-validation-for="Username"></span>
        </div>

        <div class="col">
            <input type="text" asp-for="MessagerUsername" class="form-control" />
            <label class="form-label" asp-for="MessagerUsername">Messager Username</label>
            <span asp-validation-for="MessagerUsername"></span>
        </div>

        <div class="col mb-4">
            <input type="password" asp-for="Password" class="form-control" />
            <label class="form-label" asp-for="Password">Password</label>
            <span asp-validation-for="Password"></span>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Зарегестрироватся</button>
    </form>
</div>